<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OutputTarget" value="Console" />
    <!--<add key="OutputTarget" value="SQL Server" />-->
    <!--<add key="OutputTarget" value="Oracle" />-->
  </appSettings>
</configuration>